# Практика

Выполнил студент: Фурунджи Арсений \
Группа: ФН1-31Б

In [5]:
import numpy as np
import pandas as pd

### Задание 1

Определяем количество слагаемых по признаку Лейбница и находим значение ряда, используя "наивное" суммирование, а также напишем функцию суммирования по Кэхену:

In [6]:
eps = np.math.pow(10, -12)
def Summa(x, S):
    n = 0
    summ = 0
    a = 1
    term = np.array([])
    while np.fabs(a) > eps:
        a = np.divide(np.math.pow(-1, n) * np.math.factorial(2*n) * np.math.pow(x, -4*n-2), np.math.pow(4, n) * (2*n+1) * np.math.pow(np.math.factorial(n), 2))
        term = np.append(term, a)
        summ += a
        n += 1
    return(summ, n, term)

def KahanSumm(n, term):
    s = 0
    c = 0
    for i in range(n):
        y = term[i] - c
        t = s + y
        c = (t - s) - y
        s = t
    return s

Точка 1

In [10]:
x = 10
S = np.arcsinh(np.divide(1, 100))
summ, n, term = Summa(x, S)
order_sum = np.sum(np.sort(term))
kahan_sum = KahanSumm(n, term)
print(f'x = {x}, n = {n}\nТочное значение суммы из условия задания:                   S = {S}')
print(f'"Наивное" суммирование:                                  Summ = {summ},  δ = {S - summ}')
print(f'Суммирование в порядке возрастания слагаемых:    Ordered summ = {order_sum},  δ = {S - order_sum}')
print(f'Суммирование по Кэхену:                            Kahan summ = {kahan_sum},  δ = {S - kahan_sum}')

x = 10, n = 4
Точное значение суммы из условия задания:                   S = 0.009999833340832886
"Наивное" суммирование:                                  Summ = 0.009999833340832888,  δ = -1.734723475976807e-18
Суммирование в порядке возрастания слагаемых:    Ordered summ = 0.009999833340832888,  δ = -1.734723475976807e-18
Суммирование по Кэхену:                            Kahan summ = 0.009999833340832888,  δ = -1.734723475976807e-18

Точка 2

In [12]:
x = np.divide(2*np.sqrt(2), np.sqrt(7))
S = np.arcsinh(np.divide(7, 8))
summ, n, term = Summa(x, S)
order_sum = np.sum(np.sort(term))
kahan_sum = KahanSumm(n, term)
print(f'x = {x}, n = {n}\nТочное значение суммы из условия задания:                   S = {S}')
print(f'"Наивное" суммирование:                                  Summ = {summ},  δ = {S - summ}')
print(f'Суммирование в порядке возрастания слагаемых:    Ordered summ = {order_sum},  δ = {S - order_sum}')
print(f'Суммирование по Кэхену:                            Kahan summ = {kahan_sum},  δ = {S - kahan_sum}')

x = 1.0690449676496976, n = 76
Точное значение суммы из условия задания:                   S = 0.790168725412397
"Наивное" суммирование:                                  Summ = 0.7901687254120738,  δ = 3.2318592246838307e-13
Суммирование в порядке возрастания слагаемых:    Ordered summ = 0.7901687254120736,  δ = 3.234079670733081e-13
Суммирование по Кэхену:                            Kahan summ = 0.7901687254120736,  δ = 3.234079670733081e-13

### Задание 2

In [16]:
eps = np.math.pow(10, -8)
w = np.linspace(0, 25, 101)

def Si(x):
    n = 0
    a = 1
    sum_1 = 0
    temp = np.array([])
    while np.fabs(a) > eps and n <= 100:
        a = np.divide(np.math.pow(-1, n) * np.math.pow(x, 2*n+1), (2*n+1) * np.math.factorial(2*n+1))
        temp = np.append(temp, a)
        sum_1 += a
        n += 1
    sum_2 = np.sum(np.sort(temp))
    return n, '{:.15f}'.format(sum_1), '{:.15f}'.format(sum_2)


df = pd.DataFrame(columns=['x_i', 'n', 'sum_1', 'sum_2'])
for i in np.arange(101):
    df.loc[i] = [w[i], Si(w[i])[0], Si(w[i])[1], Si(w[i])[2]]
df.to_csv('ARSdata.csv')
df.head(101)

       x_i   n              sum_1              sum_2
0     0.00   1  0.000000000000000  0.000000000000000
1     0.25   4  0.249133570318590  0.249133570318590
2     0.50   5  0.493107418044177  0.493107418044177
3     0.75   6  0.726954247149794  0.726954247149794
4     1.00   6  0.946083070354881  0.946083070354881
..     ...  ..                ...                ...
96   24.00  39  1.554738675159134  1.554738640785217
97   24.25  39  1.545997217836000  1.545997232198715
98   24.50  39  1.538964879791606  1.538964897394180
99   24.75  40  1.534039724267354  1.534039795398712
100  25.00  40  1.531482507900320  1.531482458114624

[101 rows x 4 columns]